.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.CodeMirror {
  height: 80vh !important;
}

.DesribeCodeMirror .CodeMirror {
  height: 40vh !important;
}

.add-deployment-modal .CodeMirror {
  width: 100vh !important;
}
.ant-modal.add-deployment-modal{
  width: 80vh !important;
}

.ant-layout.ant-layout-has-sider {
  height: 85vh !important;
}
.ant-table-placeholder {
  height: 74.5vh !important;
}
